@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {

  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #FFFFFF;
  margin: 0;
}

a {
  text-decoration: none;
}

.button {
  display: inline-block;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  width: 1200px;
  color: #000000;
  background: #FFFFFF;
  margin: 0 auto;  /*Почему оно нужно? Что-то сломало и теперь без этого не центрует.*/}



.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1056px;
  margin: 0 auto;
}


.navigation-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 19px 0 20px 0;
  padding: 0;
  width: 309px;
  list-style-type: none;
}

.navigation-logo {
  z-index: 2;
}

.page-navigation-logo {
  display: block;
}

.navigation-user {
  display: flex;
  list-style-type: none;
  align-items: center;
  margin: 14px 0;
  padding: 0;
  width: 250px;
}

.navigation-item {
  position: relative;
  margin: 0;
  padding: 0;
}

.page-current::after {
  position: absolute;
  right: 0px;
  bottom: -20px;
  left: 0px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation-link{
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
}




.page {
  display: block;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;  /*  Не понимаю зачем это, если в page-header есть это */
  background-color: #FFFFFF;
  text-decoration: none;
}

.page:hover {
  color: #756257;
}

.page:focus {   /*Не понятно!!!*/
  outline: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
}

.page:active {
  opacity: 0.3;
  border: none; /*Иначе появляется бордер*/
}


.navigation-user .navigation-link {
  min-width: 18px;
  min-height: 18px;
}

.navigation-icon:hover {
  fill: #756257;
}

.navigation-link:focus {  /*  ФИГНЯ!!  */

  border: 3px solid #83B3D3;
  box-sizing: border-box;
  padding: 10px;
  outline-color: #83B3D3;
  border-radius: 10px;
}

.navigation-link:active {
  opacity: 0.3;
  border: none; /*Иначе появляется бордер*/
}


.navigation-search {
  margin-right: 21px;
}

.navigation-favourites {
  margin-right: 33px;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;

}

.navigation-favourites::after {
  position: absolute;
  content:  '12';
  /*display: block;*/
  width: 19px;
  height: 19px;
  top: -8px;
  right: -12px;
  background: #7DB54F;
  border-radius: 50%;
  font-size: 10px;
  color: #ffffff;
  text-align: center;
  }

.navigation-button {
  min-width: 160px;
  min-height: 37px;
  padding: 0;
  border-radius: 4px;
  /*margin-left: auto; почему это не работает??*/
}


/*ПОПОВЕР*/
.popover {
  position: absolute;
  top: 36px;
  right: -160px;
  z-index: 1;
  box-sizing: border-box;
  width: 400px;
  color: #000000;
  background-color: #FFFFFF;
  border: 1px solid #E6E6E6;
  min-height: 230px;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 20px;

}

.popover-close {
  display: none;
}

.popover-content::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 9px;
  top: -9px;
  left: 188px;
  background-image: url("../img/triangle.svg");
  background-color: #FFFFFF;


}




.cart-items-list {
  padding: 0;
  list-style-type: none;
}

.cart-item {
  display: grid;
  position: relative;
  grid-template-columns: 309px 16px;
  margin: 25px;
  column-gap: 25px;
  padding: 4px 0;
}



.cart-item-desert, .cart-item-villas {
  padding-left: 65px;
}



.cart-item-desert::before, .cart-item-villas::before {
  position: absolute;
  content: '';
  width: 48px;
  height: 48px;
  top: 0px;
  left: 0px;

  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.cart-item-desert::before {
  background-image: url("../img/desert.jpg");
}

.cart-item:hover {
  opacity: 0.6;

}

.cart-item:focus {
  outline: 3px solid #83B3D3;
  box-sizing: border-box;
  width: 228px;
  border-radius: 10px;
}


.cart-item:active {
  opacity: 0.3;
}



.cart-item-villas::before {
  background-image: url("../img/villas.jpg");
}

.cart-item-title {
  margin: 0;

  font-size: 18px;
  line-height: 21px;  /* а высота блока почему то 20!*/
  font-weight: 700;
  color: #000000;

}

.cart-item-type {
  margin: 0;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.cart-item-button {
  width: 16px;
  height: 16px;
  background-color: #FFFFFF;
}

.basket {
  fill: #000000;
  opacity: 0.2;
}

.basket:hover {
  opacity: 1;
}

.basket:focus {  /*ЕРУНДА!!!*/
  outline: 3px solid #83B3D3;
  opacity: 1;
  border-radius: 10px;
  padding: 5px;
}

.basket:active {
  opacity: 0.1;
}




.cart-button-all {
  display: block;
  padding: 20px 0;
  border-radius: 0 0 20px 20px;
}

.cart-button-all:hover {
  background-color: #615048;
}

.cart-button-all:focus {
  outline: 3px solid #83B3D3;
}

.cart-button-all:active {
  background-color:#615048;
  color: rgba(255, 255, 255, 0.3);
}

.main-container {
  display: flex;
  flex-grow: 1; /* не понимаю зачем так и так работает*/
  margin-top: -5px; /*только прозрачность надо наверное? */
}

.main-index {
  color: #000000;
  background-color: #FFFFFF;
  background-size: 100% auto;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.index-logo {
  position: relative;
  color: #000000;
  background-color: #FFFFFF;
  text-align: center;
  margin: 0;
  padding: 0;
}

.index-img {
  display: block;
  margin-bottom: 63px;
}

.index-logo::after {    /*не понятно) почему относительно index-img не работает*/
  content: '';
  display: block;
  position: absolute;
  /*bottom: -63px;*/
  top: 428px;
  left: 0;
  height: 57px;
  width: 1200px;
  background-image: url("../img/index-logo-bottom.svg");
}



.logo-title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;  /*  Почему не работает? Потому что апперкейс есть? */
  padding: 3px 0;
  margin-bottom: 23px;
}

.logo-description {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 79px;
}

/*Преимущества*/

.advantages {
  display: flex;
  flex-direction: column;
  color: #000000;
  background-color: #FFFFFF;
  text-align: center;

  padding: 0;
  margin: 0;
  list-style-type: none;

}

.advantages-one, .advantages-others-item {
  display: flex;
  margin: 0;
  padding-top: 98px;
  padding-bottom: 77px;
  flex-direction: column;
  width: 400px;

}

.advantages-one {
  background-color: rgba(131, 179, 211);
  color: #FFFFFF;
}

.advantages-others-item {
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
}

.advantages-title, .cities-title {
  font-size: 24px;
  line-height: 28px;
  padding-bottom: 25px;
  margin: 0;
}

.advantages-number, .advantages-description, .cities-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  margin: 0;
}

.advantages-number {
  padding-bottom: 25px;
}


.advantages-item {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.cities-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style-type: none;
}



.cities-item {
  position: relative;
  width: 400px; /* Почему работает только с этим?*/
  margin: 0;
  padding-top: 184px;
  padding-bottom: 79px;
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
}

.cities-item:nth-child(2), .advantages-others-item:nth-child(2) {
  background-color: #ffffff;
}

.cities-item::after {
  position: absolute;
  content: '';
  display: block;
  margin: 0 auto;
  background-repeat: no-repeat;
}

.cities-item-housing::after {
  top: 89px;
  left: 163px;
  height: 75px;
  width: 72px;
  background-image: url("../img/housing.svg");
}

.cities-item-food::after {
  top: 91px;
  left: 163px;
  height: 70px;
  width: 74px;
  background-image: url("../img/food.svg");
}

.cities-item-souvenirs::after {
  top: 85px;
  left: 168px;
  height: 76px;
  width: 70px;
  background-image: url("../img/souvenirs.svg");
}


.advantages-others {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}



.cities-img {
  text-align: center;
  margin-bottom: 23px;
}

/*ЗАИНТЕРЕСОВАЛИСЬ*/

.search-hotels {
  color: #000000;
  background-color: #FFFFFF;
  text-align: center;
  margin: 91px 0;
}

.search-hotels-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 15px;
}

.search-hotels-description {
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 73px;
}

.button-hotels {
  font-size: 20px;
  line-height: 36px;
  min-width: 575px;
  padding-top: 13px;
  padding-bottom: 17px;
  border-radius: 10px;
 }

.button-hotels:hover {
  background-color: #615048;
}

.button-hotels:focus {
  outline: 3px solid #83B3D3;
}

.button-hotels:active {
  background-color:#615048;
  color: rgba(255, 255, 255, 0.3);
}




/*ФУТЕР*/

.index-footer-container {
  width: 1200px;
  margin: 0 auto;
}

.subscribe {
  color: #000000;
  background-color: #FFFFFF;
  text-align: center;

}

.subscribe-index {
  color: #FFFFFF;
  background-color: #000000;
  background-image: url("../img/footer-background.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  text-decoration: none;
  margin: 0;
  padding: 94px 0;
}

.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 15px;

}

.subscribe-description, .button-subscribe {
  font-size: 20px;
  line-height: 26px;
  margin: 0;
  padding-bottom: 26px;


}

.subscribe-form {
  display: flex;
  width: 800px;
  margin: 0 auto;
}

.subscribe-field {
  margin: 0;
  padding: 0 20px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  border: none;
  flex-grow: 1;
  width: 600px;
  border-radius: 10px 0 0 10px;
  background-color: #F2F2F2;
 }

.subscribe-field:hover {
  background-color: #E6E6E6;
}

.subscribe-field:focus {
  border: 3px solid #83B3D3;
}

.subscribe-field:active {
  background-color: #FFFFFF;
  border: 2px solid #000000;
}
.subscribe-field:disabled {
  background-color: #FFFFFF;
  border: 2px solid #FF5757;
}

.button-subscribe {
  background-color: #83B3D3;
  color: #FFFFFF;
  min-width: 200px;
  font-weight: 700;
  padding: 17px 0;
  border-radius: 0 10px 10px 0;
 }

 .button-subscribe:hover {
  background-color: #68A2CA;
}

.button-subscribe:focus {
  background-color: #68A2CA;
  outline: 3px solid #756257;
}

.button-subscribe:active {
  background-color:#68A2CA;
  color: rgba(255, 255, 255, 0.3);
}

.footer-contacts {
  width: 1056px;
  color: #000000;
  background-color: #FFFFFF;
  margin: 0 auto;
}

.footer-contacts-container {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 30px;
}

.social-list {
  display: flex;
  align-items: center;
  width: 107px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 30px;
}

.button-social {
  display: block;
  background-repeat: no-repeat;
  background-position: center;

}

.social-img {
  fill: #83B3D3;
}

.social-img:hover {
  fill: #68A2CA;
}

.social-img:focus {
  outline: 3px solid #83B3D3;
  border-radius: 10px;
}

.social-img:active {
  opacity: 0.3;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
}

.contacts-phone:hover {
  color: #756257;
}

.contacts-phone:focus {
  outline: 3px solid #83B3D3;
  border-radius: 10px;
}

.contacts-phone:active {
  color: #756257;
  opacity: 0.3;
}

.htmlacademy-link-icon {
  fill: #000000;
}

.htmlacademy-link-icon:hover {
  fill: #756257;
}

.htmlacademy-link-icon:focus {
  outline: 3px solid #83B3D3;
  border-radius: 10px;
}

.htmlacademy-link-icon:active {
  fill: #756257;
  opacity: 0.3;
}


/*Каталог страница*/

.catalog-wrap {
  color: #FFFFFF;
  width: 1056px;
  margin: 0 auto;
  background-color: #000000;
  background-image: url("../img/catalog-background.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-decoration: none;
  padding: 0 72px;
}

.catalog-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin: 0;
  margin-right: auto;

}

.breadcrumbs {
  display: flex;
  margin-top: 5px;
  margin-bottom: 45px;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item {
  display: flex;
  align-items: center
}

.link-index {
  display: block;
  position: relative;
  width: 12px;
  height: 12px;
  margin-right: 26px;
  background-image: url("../img/home.svg");
}


.link-index::after {
  content: "";
  position: absolute;
  right: 0px;
  bottom: 0px;
  left: 23px;
  height: 8px;
  width: 5px;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  color: #FFFFFF;

}



.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  align-items: center;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:focus {   /*Не понятно!!!*/
  outline: 3px solid #83B3D3;
  border-radius: 10px;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

/*Поиск каталога*/

.catalog-products {
  padding-bottom: 83px;
}

.catalog-filter {
  display: flex;
  margin: 0;
  padding: 0;
  }



.filter-group-infrastructure {
  display: flex;
  margin: 0;
  padding: 0;
  width: 150px;
  margin-right: 67px;
  text-align: left;
}





.filter-group-type {
  width: 144px;
  margin: 0;      /*почему не работает без этого, хотя все отступы и размеры остальных 3- блоков выставил?*/
  margin-right: 167px; /*Если это указываешь то апартаменты не влезают в одну строку*/

}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: 0; /* Все равно ширина 154. Почему?*/

}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 30px;
}



.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.control {
  display: flex;
  position: relative;
  padding-left: 36px;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 13px;
}

.control-input {
  display: block;
  margin: 0;
  width: 20px;
  height: 20px;
  margin-right: 19px;
  background: #FFFFFF;
  border: none;
}

.control-square {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 4px;
  cursor: pointer;
}

.control-input[type="checkbox"]:checked + .control-square::after {
  content: '';
  position: absolute;
  top: 4px;
  left: 5px;
  background-image: url("../img/check.svg");
  width: 10px;
  height: 12px;

}

.control-square:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.control-square:focus {
  background-color: rgba(255, 255, 255, 0.6);
  outline: 3px solid #83B3D3;
}

.control-square:active {
  background-color: rgba(255, 255, 255, 0.3);
}


.control-label {
  font-size: 18px;
  line-height: 24px;
}

.control-circle {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-circle::after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3F5E72;

}

.filter-group-toggle {
  margin: 0;
  padding: 0;
}

.control-circle:focus {
  outline: 3px solid #83B3D3;
}


 .catalog-filter-wrapper {
  display: flex;

  border-radius: 4px;

}

.catalog-filter-label {
  display: flex;
  box-sizing: border-box;
  width: 144px;
  border:2px solid #FFFFFF;
}

.catalog-filter-label:nth-child(1) {
  border-right: none;
}

.catalog-filter-label:hover{
  border:2px solid rgba(255, 255, 255, 0.6);

}

.catalog-filter-label:focus {
  outline: 3px solid #83B3D3;
}

.catalog-filter-label:active {
  background-color: #756257;
}

.catalog-filter-input {
  box-sizing: border-box;
  width: 112px;  /*почему без этого не работает?*/
  margin: 0;
  padding: 12px 14px;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  border: none;
  background-color: transparent;

}
.catalog-filter-input::-webkit-input-placeholder {
  color: #FFFFFF;
 }
 .catalog-filter-input::-moz-placeholder {
  color: #FFFFFF;
 }

 .catalog-filter-span {
  padding: 12px 0;
  color: rgba(255, 255, 255, 0.3);
 }




.range {
  position: relative;
  height: 4px;
  margin-top: 32px;
  background-color: rgba(255, 255, 255, 0.3);

}

.range-wrapper {
  position: absolute;
  height: 4px;
  width: 227px;
  background-color: #FFFFFF;

}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.range-toggle:hover {
  background-color: #DBB590;
}

.range-toggle:active,
.range-toggle:focus {
  outline: 3px solid #DBB590;
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}


.button-container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  padding: 0;
  width: 160px;
  justify-content: flex-end;
}

 .button-apply {
   min-height: 48px;
}


.button-apply, .button-favourites {
  background-color: #83B3D3;
  color: #FFFFFF;
}

.button-apply:hover {
  background-color: #68A2CA;
}

.button-apply:focus {
  background-color: #68A2CA;
  outline: 3px solid #FFFFFF;
}

.button-apply:active {
  background-color:#68A2CA;
  color: rgba(255, 255, 255, 0.3);
}


.button-reset {
  background-color: transparent;
  margin-top: 20px;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  border: 0;
  color: #ffffff;
}

.sorting-wrap, .hotels-wrap {
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
}

.sorting-wrap {
  display: flex;
  width: 1056px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 45px

}

.sorting {
  margin-right: 81px;
}

.sorting-result {
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  margin-right: 191px;

}

.select-control {
  font-size: 18px;
  line-height: 23px;
  width: 287px;
  padding: 12px;
}


.sorting-button {
  display: flex;
  margin-left: auto;
}

.sorting-wrap .button {
  display: block;
  width: 48px;
  height: 48px;
  background-color: #FFFFFF;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
}

.sorting-wrap .button:not(:last-child){
  margin-right: 8px;
}

.button-icons {
  background-image: url("../img/icons.svg");
}

.button-list {
  background-image: url("../img/list.svg");
}

.sorting-wrap .button-cards {
  background-image: url("../img/cards.svg");
  border: 2px solid #000000;
}


.hotels-wrap {
  width: 1056px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

}

.hotels {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.hotel {
  display: flex;
  margin-top: 28px;
  margin-bottom: 30px;


}

.hotel-img {
  width: 180px;
  margin-right: 36px;
}

.hotel-title {
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  margin: 0;
}

.type-price{
  display: flex;
  width: 235px;
  justify-content: space-between;
  margin-bottom: 31px;
}


.hotel-type, .hotel-price {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}

.button-detailed {
  display: inline-block;
  margin: 0;
  padding: 8px 0;
  width: 151px;


}

.button-favourites {
  width: 160px;
  height: 37px;
  padding: 0;
}

.rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
  align-items: center;
}

.hotel-star {
  display: flex;
  justify-content: space-between;
  width: 91px;
  height: 17px;
  margin: 0 auto;
  background-color: #FFFFFF;
  background-image: url("../img/star.svg");
  background-position: center;
}



.hotel-rating {
  display: block;
  width: 160px;
  height: 37px;
  margin: 0;
  padding: 0;
  text-align: center;   /*По вертикали по центру не сделать*/
}

.button-favourites-current {
  background-color: #7DB54F;
  color: #FFFFFF;
}

.button-upload {
  width: 625px;
  height: 55px;
  font-size: 20px;
  line-height: 26px;
  background-color: #83B3D3;
  color: #FFFFFF;
  margin: 0 auto;
  margin-top: 31px;
  margin-bottom: 30px;  /*Что-то ту не то)))*/
}

.pagination-wrap {
  display: flex;
  margin-top: 31px;
  margin-bottom: 89px;

}

.pagination {
  display: flex;
  color: #000000;
  background-color: #FFFFFF;
  list-style-type: none;
  margin: 0;
  margin-right: 351px;
}

.pagination-link {

  display: block;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-align: center;
  padding: 15px 0;
  text-decoration: none;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  border-radius: 4px;
}

.pagination-link:hover {
  background-color: #68A2CA;
}

.pagination-link:focus {
  background-color: #68A2CA;
  outline: 3px solid #756257;
}

.pagination-link:active {
  background-color:#68A2CA;
  color: rgba(255, 255, 255, 0.3);
}



.pagination-item:not(:last-child) {
  margin-right: 7px;
}

.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}

.hotelsonpage {
  display: flex;
  width: 386px;



}

.hotelsonpage-result {
  padding: 12px 0;
  line-height: 23px;
  margin-right: 51px;

}

.hotelsonpage-control {
  width: 160px;
  height: 48px;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  padding-left: 17px;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  margin: auto;
  box-sizing: border-box;
  padding: 62px 70px 70px 70px;
  background-color: #FFFFFF;
  border-radius: 30px;
  width: 715px;
}

.modal-container-close {
  display: none;
}

.modal-title {
  margin: 0;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 54px;
  right: 70px;
  width: 53px;
  height: 53px;
  background-color: #F2F2F2;
  border: none;
  border-radius: 50%;
  background-image: url("../img/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #E6E6E6;
}

.modal-close-button:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.modal-close-button:active {
  background-color: #E6E6E6;
  opacity: 0.3;  /*как сделать как в фигме? Прозрачен должен быть только крестик */
}


.modal-form {
  margin-top: 54px;
}

.field-group {
  display: flex;
  width: 575px;
  margin: 0;

}

.field-group-form {
  position: relative;
}

.field-label {
  width: 155px;
  font-size: 18px;
  line-height: 50px;
  font-weight: 700;

}

.field-input {
  width: 420px;
  background-color: #F2F2F2;
  color: #000000;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 700;
}

.field-input:hover {
  background-color: #E6E6E6;
}

.field-input:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}


.field-input::-webkit-input-placeholder {
  color: #000000;
  padding-left: 19px;
 }

.field-input::-moz-placeholder {
  color: #000000;
  padding-left: 19px;
}


.calendar {
  position: absolute;
  margin: 0;
  top: 18px;
  right: 19px;
  opacity: 0.3;
  width: 15px;
  height: 15px;
  background-image: url("../img/calendar.svg");
}


.field-description {
  margin: 0;
  margin-left: 155px;
  font-size: 16px;
  line-height: 40px;
}

.field-description:last-of-type {
  color: #FF5757;

}

.field-group-adults, .field-group-children {
  display: flex;
  position: relative;
}




.field-group-adults {
  margin-right: 56px;
}

.field-adults, .field-children {

  font-size: 18px;
  line-height: 50px;
  font-weight: 700;
  margin: 0;
}

.field-adults{
  width: 155px;
}

.field-children {
  display: flex;
  width: 97px;
}

.field-children::after {
  content: '';
  display: block;
  width: 25px;
  height: 25px;
  margin-top: 14px;
  margin-left: 7px;
  padding: 0;
  border: none;
  background-image: url("../img/info.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.field-number {
  display: block;
  width: 133px;
  font-size: 18px;
  line-height: 50px;
  font-weight: 700;
  margin: 0 auto;
  text-align: center;
  background-color: #F2F2F2;
  border-radius: 4px;
}

.button-form-search {
  display: block;
  margin-top: 40px;
  font-size: 20px;
  line-height: 40px;
  padding: 10px 0;
  background-color: #83B3D3;
  border-radius: 10px;
}

.button-form-search:hover {
  background-color: #68A2CA;
}

.button-form-search:focus {
  background-color: #68A2CA;
  outline: 3px solid #756257;
}

.button-form-search:active {
  background-color:#68A2CA;
  color: rgba(255, 255, 255, 0.3);
}


.minus, .plus {
  margin: 0;
}

.minus::after {
  position: absolute;

  /*top: 7px;
  left: 170px;  /*!!!!!!!! Почему не работает!!!!!!!!!!!*/
  margin-left: 10px;
  margin-top: 24px;
  width: 13px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.3);
  content: "";
}


.plus::before, .plus::after {
  display: block;
  position: absolute;

  /*margin-right: -10px;*/  /*!! Не работает!!!!*/
  margin-left: -23px;
  margin-top: 24px;
  width: 13px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.3);
  content: "";
  cursor: pointer;
}

.plus::after {
  transform: rotate(90deg);
}

.minus:hover::after, .plus:hover::before, .plus:hover::after {
  background-color: #000000;
}

.minus:focus::after, .plus:focus::before, .plus:focus::after {
  background-color: #000000;
  outline: 3px solid #83B3D3;
}
