@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {

  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #FFFFFF;
  margin: 0;
  ;
}

a {
  text-decoration: none;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  width: 1200px;
  color: #000000;
  background: #FFFFFF;
  margin: 0 auto;  /*Почему оно нужно? Что-то сломало и теперь без этого не центрует.*/}



.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1056px;
  margin: 0 auto;
}


.navigation-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 19px 0 20px 0;
  padding: 0;
  width: 309px;
  list-style-type: none;
}

.page-navigation-logo {
  display: block;
}

.navigation-user {
  display: flex;
  list-style-type: none;
  margin: 14px 0;
  padding: 0;
  width: 250px;
}

.navigation-item {
  margin: 0;
  padding: 0;
}

.navigation-link{
  display: block;
  margin: 0;
  padding: 0;
}

.navigation-user .navigation-link {
  min-width: 45px;
  min-height: 37px;
}

.page {
  display: block;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;  /*  Не понимаю зачем это, если в page-header есть это */
  background-color: #FFFFFF;
  text-decoration: none;
}

.navigation-button {
  margin: 0;
  padding: 0;
  min-width: 160px;
  min-height: 37px;
}


.main-container {
  display: flex;
  flex-grow: 1; /* не понимаю зачем так и так работает*/
  margin-top: -5px; /*только прозрачность надо наверное? */
}

.main-index {
  color: #000000;
  background-color: #FFFFFF;
  background-size: 100% auto;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.index-logo {
  color: #000000;
  background-color: #FFFFFF;
  text-align: center;
  margin: 0;
  padding: 0;
}

.index-img {
  display: block;
  margin-bottom: 63px;

}

.logo-title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;  /*  Почему не работает? Потому что апперкейс есть? */
  padding: 3px 0;
  margin-bottom: 23px;

}

.logo-description {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 79px;
}

/*Преимущества*/

.advantages {
  display: flex;
  flex-direction: column;
  color: #000000;
  background-color: #FFFFFF;
  text-align: center;

  padding: 0;
  margin: 0;
  list-style-type: none;

}

.advantages-one, .advantages-others-item {
  display: flex;
  margin: 0;
  padding-top: 98px;
  padding-bottom: 77px;
  flex-direction: column;
  width: 400px;
  background: rgba(131, 179, 211, 0.12);
  color: #FFFFFF;
}


.advantages-title, .cities-title {
  font-size: 24px;
  line-height: 28px;
  padding-bottom: 25px;
  margin: 0;
}

.advantages-number, .advantages-description, .cities-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  margin: 0;
}

.advantages-number {
  padding-bottom: 25px;
}


.advantages-item {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.cities-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style-type: none;
}



.cities-item {
  width: 400px; /* Почему работает только с этим?*/
  margin: 0;
  padding-top: 91px;
  padding-bottom: 79px;
  background-color: #83B3D2;
  color: #FFFFFF;
}

.advantages-others {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}



.cities-img {
  text-align: center;
  margin-bottom: 23px;
}

/*ЗАИНТЕРЕСОВАЛИСЬ*/

.search-hotels {
  color: #000000;
  background-color: #FFFFFF;
  text-align: center;
  margin: 91px 0;
}

.search-hotels-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 15px;
}

.search-hotels-description {
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 73px;
}

.button-hotels {
  font-size: 20px;
  line-height: 36px;
  min-width: 575px;
  padding-top: 13px;
  padding-bottom: 17px;
 }

/*ФУТЕР*/

.index-footer-container {

  width: 1200px;
  margin: 0 auto;
}

.subscribe-index {
  color: #FFFFFF;
  background-color: #000000;
  background-image: url("../img/footer-background.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  text-decoration: none;
  margin: 0;
  padding: 94px 0;
}

.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 15px;

}

.subscribe-description, .button-subscribe {
  font-size: 20px;
  line-height: 26px;
  margin: 0;
  padding-bottom: 26px;

}

.subscribe-form {
  width: 800px;
  margin: 0 auto;

}

.button-subscribe {
  background-color: #83B3D3;
  color: #FFFFFF;
  min-width: 200px;
  padding: 0;
}

.footer-contacts {
  width: 1056px;
  color: #000000;
  background-color: #FFFFFF;
  margin: 0 auto;
}

.footer-contacts-container {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 30px;
}

.social-list {
  display: flex;
  width: 107px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}



.contacts-phone {
  font-size: 40px;
  line-height: 40px;
}

/*Каталог страница*/

.catalog-wrap {
  color: #FFFFFF;
  width: 1056px;
  margin: 0 auto;
  background-color: #000000;
  background-image: url("../img/catalog-background.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-decoration: none;
  padding: 0 72px;
}

.catalog-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin: 0;
  margin-right: auto;

}

.breadcrumbs {
  display: flex;
  margin-top: 5px;
  margin-bottom: 45px;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item {
  display: flex;
  align-items: center
}

.link-index {
  display: block;
  width: 12px;
  height: 12px;
  margin-right: 26px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  align-items: center;
}


/*Поиск каталога*/

.catalog-products {
  padding-bottom: 83px;
}

.catalog-filter {
  display: flex;
  margin: 0;
  padding: 0;
  }



.filter-group-infrastructure {
  display: flex;
  margin: 0;
  padding: 0;
  width: 150px;
  margin-right: 67px;
  text-align: left;
}





.filter-group-type {
  width: 144px;
  margin: 0;      /*почему не работает без этого, хотя все отступы и размеры остальных 3- блоков выставил?*/
  margin-right: 167px; /*Если это указываешь то апартаменты не влезают в одну строку*/

}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: 0; /* Все равно ширина 154. Почему?*/

}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 30px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 13px;
}

.control-label {
  font-size: 18px;
  line-height: 24px;
}




.filter-group-toggle {
  margin: 0;
  padding: 0;
  width: 287px;
 }

.button-container {
  display: flex;
  flex-direction: column;

  margin-left: auto;
  padding: 0;
  width: 160px;
  justify-content: flex-end;
 }

 .button-apply {
   min-height: 48px;
 }


.button-apply, .button-favourites {
  background-color: #83B3D3;
  color: #FFFFFF;
}

.button-reset {
  background-color: transparent;
  margin-top: 20px;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;

  border: 0;
  color: #ffffff;
}

.sorting-wrap, .hotels-wrap {
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
}

.sorting-wrap {
  display: flex;
  width: 1056px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 45px

}

.sorting {
  margin-right: 81px;
}

.sorting-result {
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  margin-right: 191px;
}

.sorting-wrap .button {
  display: block;
  width: 48px;
  height: 48px;
}

.sorting-wrap .button:not(:last-child){
  margin-right: 8px;
}

.hotels-wrap {
  width: 1056px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

}

.hotels {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.hotel {
  display: flex;
  margin-top: 28px;
  margin-bottom: 30px;


}

.hotel-img {
  width: 180px;
  margin-right: 36px;
}

.hotel-title {
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  margin: 0;
}

.type-price{
  display: flex;
  width: 235px;
  justify-content: space-between;
  margin-bottom: 31px;
}


.hotel-type, .hotel-price {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}

.button-detailed {
  width: 151px;
  height: 37px;
}

.button-favourites {
  width: 160px;
  height: 37px;
}

.rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
  align-items: center;
}

.hotel-rating {
  display: block;
  width: 160px;
  height: 37px;
  margin: 0;
  padding: 0;
  text-align: center;   /*По вертикали по центру не сделать*/
}

.button-favourites-current {
  background-color: #7DB54F;
  color: #FFFFFF;
}

.button-upload {
  width: 625px;
  height: 55px;
  font-size: 20px;
  line-height: 26px;
  background-color: #83B3D3;
  color: #FFFFFF;
  margin: 0 auto;
  margin-top: 31px;
  margin-bottom: 30px;  /*Что-то ту не то)))*/
}

.pagination-wrap {
  display: flex;
}

.pagination {
  display: flex;
  color: #000000;
  background-color: #FFFFFF;
  list-style-type: none;
}

.pagination-link {
  display: block;
  width: 55px;
  height: 55px;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-decoration: none;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.pagination-item:not(:last-child) {
  margin-right: 7px;
}

.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}



.hotelsonpage-result {
  line-height: 24px;
}

.subscribe {
  color: #000000;
  background-color: #FFFFFF;
  text-align: center;
}
